---
Checks: >-
    -*,
    modernize-avoid-bind,
    modernize-concat-nested-namespaces,
    modernize-deprecated-headers,
    modernize-deprecated-ios-base-aliases,
    modernize-make-shared,
    modernize-make-unique,
    modernize-pass-by-value,
    modernize-raw-string-literal,
    modernize-redundant-void-arg,
    modernize-replace-auto-ptr,
    modernize-replace-disallow-copy-and-assign-macro,
    modernize-replace-random-shuffle,
    modernize-shrink-to-fit,
    modernize-unary-static-assert,
    modernize-use-bool-literals,
    modernize-use-override,
    readability-identifier-naming,
HeaderFilterRegex: '.*'
CheckOptions:
    - key: readability-identifier-naming.PublicMethodCase
      value: CamelCase
    - key: readability-identifier-naming.PublicMethodIgnoredRegexp
      value: '^(parse|format)$'
    - key: readability-identifier-naming.ProtectedMethodCase
      value: camelBack
    - key: readability-identifier-naming.PrivateMethodCase
      value: camelBack
    - key: readability-identifier-naming.PublicMemberCase
      value: CamelCase
    - key: readability-identifier-naming.ProtectedMemberCase
      value: camelBack
    - key: readability-identifier-naming.PrivateMemberCase
      value: camelBack
